<! DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style type="text/css">

        .main {
            background-color: red;
            width: 300px;
            height: 350px;
            margin: 0;
            display: inline-block;
        }
         .nav {
            border: 2px;
            width: 500px;
            height: 500px;
            background-color: #0a628f;
        }
        .tip{
            width: 50px;
            height: 20px;
             background-color: yellow;
              display: inline;

        }

    </style>
</head>
<body>
<div class="nav">
    <div class="main">
        <h1>MAIN</h1>
    </div>
    <div class="tip">
        yyyyyy
    </div>
</div>
</body>
</html>
