<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        //         function change_li_style(el) {
        ////                var length = $("li").length;
        ////                console.log(length)
        ////                for (var j = 0; j <= 6; j++) {
        ////                    $(el + " li:nth-child(" + j + ")").css("color", "red");
        ////                     console.log($(el + " li:nth-child(" + j + ")").css("width", "50px"))
        ////                }
        //
        //             console.log($(el + " li:nth-child(" + 1 + ")").css("width", "100px"))
        //            }
        //            change_li_style("#paging")
        $(document).ready(function () {
                  $("#aa").append("<p>33</p>")
        });
    </script>
    <style type="text/css">
        #paging li {
            float: left;
            list-style: none;
        }

        #paging li:nth-child(1), #paging li:nth-child(2) {
            width: 50px
        }

        li:nth-child(3), li:nth-child(4), li:nth-child(5), li:nth-child(6), li:nth-child(7) {
            width: 30px
        }
    </style>
</head>
<body>
<p id="aa"></p>
<ul id="paging">
    <li>123</li>
    <li>123</li>
    <li>123</li>
    <li>123</li>
    <li>123</li>
    <li>123</li>
    <li>123</li>
</ul>
<p id="test">这是段落中的<b>粗体</b>文本。</p>
<button id="btn1">显示文本</button>
<button id="btn2">显示 HTML</button>
</body>
</html>