<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blog </title>
     <script src="/static/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/Jcrop-0.9.12/css/jquery.Jcrop.css">
    <script src="/static/Jcrop-0.9.12/js/jquery.Jcrop.js"></script>
    <link rel="stylesheet" href="/static/Jcrop-0.9.12/demos/demo_files/main.css" type="text/css" />
<link rel="stylesheet" href="/static/Jcrop-0.9.12/demos/demo_files/demos.css" type="text/css" />
<link rel="stylesheet" href="/static/Jcrop-0.9.12/css/jquery.Jcrop.css" type="text/css" />
    <script type="text/javascript" src="/static/uploadify/jquery.uploadify-3.1.min.js"></script>
  <script type="text/javascript">
$(document).ready(function() {

  $('#file_upload').uploadify({
    'uploader'  : '/site_media/uploadify/uploadify.swf',
    'script'    : '{%url uploadify_script %}',
    'cancelImg' : '/site_media/uploadify/cancel.png',
    'folder'    : '/upload',
    'auto'      : false,//
    'multi': true,//设置可以上传多个文件
    'queueSizeLimit':20,//设置可以同时20个文件
    'removeCompleted':false,//
    'sizeLimit':10240000,//设置上传文件大小单位kb
    'fileExt':'*.jpg;*.gif;*.png',//设置上传文件类型为常用图片格式
    'fileDesc':'Image Files',
    'onInit': function () {},
    'onError' : function (event,ID,fileObj,errorObj) {
            $('#id_span_msg').html("上传失败，错误码:"+errorObj.type+" "+errorObj.info);
        },
    'onSelect': function (e, queueId, fileObj) {
        $('#id_span_msg').html("");
    },
    'onAllComplete': function (event, data) {
        if(data.filesUploaded>=1){
          $('#id_span_msg').html("上传成功！");
        }
    }
  });
});
</script>
</head>
<body>
<h1>Uploadify组件上传方式</h1>
<div class="demo-box">
    <input id="file_upload" type="file" name="Filedata">
    <div id="file_uploadQueue" class="uploadifyQueue"></div>
    <p><a href="javascript:$('#file_upload').uploadifyUpload()">上传图片</a>
    <a href="javascript:$('#file_upload').uploadifyClearQueue()">取消上传</a>
    </p>
    <p><span id="id_span_msg"></span></p>
</div>

</body>
</html>
