<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blog </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
    <script src="/static/assets/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/Jcrop-0.9.12/css/jquery.Jcrop.css">
    <script src="/static/Jcrop-0.9.12/js/jquery.Jcrop.js"></script>
    <link rel="stylesheet" href="/static/Jcrop-0.9.12/demos/demo_files/main.css" type="text/css"/>
    <link rel="stylesheet" href="/static/Jcrop-0.9.12/demos/demo_files/demos.css" type="text/css"/>
    <link rel="stylesheet" href="/static/Jcrop-0.9.12/css/jquery.Jcrop.css" type="text/css"/>
</head>
<body>
<header class="am-topbar">

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

</header>

                <div class="am-form-group">
                    <form method="POST" enctype="multipart/form-data">
                        <input type="file" name="img">
                        <button type="submit">上传</button>
                    </form>
                    </div>

</body>
</html>
